@import '~@blueprintjs/core/lib/scss/variables';

.CardHeading {
  padding: 13px;
  background-color: $dark-gray5;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
