@import '~@blueprintjs/core/lib/scss/variables';

.MotionControlCard {
  background-color: $dark-gray2;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  b {
    font-weight: 600;
  }

  .bp3-switch {
    margin-top: 5px;
  }
  .bp3-button {
    margin-top: 5px;
  }
}
.MotionControlContainer {
  width: 250px;
  height: 250px;
  background-color: $dark-gray2;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-right: 20px;

  &__handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $gray5;
    border-radius: 50%;
    transform: translate(-10px, -10px);
    pointer-events: none;
    z-index: 2;
  }

  &__verticalLine {
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 1px dashed $gray5;
    pointer-events: none;
  }

  &__horizontalLine {
    position: absolute;
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed $gray5;
    pointer-events: none;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $gray5;
    border-radius: 50%;
    pointer-events: none;
  }

  &__labels {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-family: monospace;
    font-weight: 600;
    text-align: right;
    font-size: 10px;
    color: $gray5;
    opacity: 0.8;
    pointer-events: none;
  }
}
