<launch>
    <group ns="line_follower">
    <rosparam file="$(find line_follower)/config/line_follower_config.yaml" />
        <node name="line_follower_node" pkg="line_follower" type="line_follower_node.py" output="screen" />
        <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
    </group>
</launch>
